@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: "Passion One", sans-serif;
    --fonte03: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte01);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-weight: small-caps;
    font-family: var(--fonte02);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

header a:hover, footer a:hover {
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
    
}

section.imagen{
    background-color: rgb(104, 104, 104);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.63);
    background-size: cover; 
    background-attachment: fixed;
}

section.imagen > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.252);
    text-shadow: 2px 1px 0px rgba(0, 0, 0, 0.703);
}
section#img01{
    background-image: url(../img/background001.jpg);
    background-position: right center;
    
}

section#img02{
    background-image: url(../img/background002.jpg);
    
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}